*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#text {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Gabarito', sans-serif;
    font-size: 120px;
    color: #11355E;
    font-weight: 300;
    overflow: hidden;
}

#petit-texte {
    font-size: xx-large;
    color: #11355E;
    font-family: 'Teko', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #ACC8E5;
}

body {
    background-color: #ACC8E5;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    
}

.center {
    text-align: center;
    flex-grow: 1;
    padding: 75px 50px 50px;
}

.header {
    width: 100%;
    height: 0%;
    padding: 20px 50px;
    padding-bottom: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    background-color: #11355E;  
    position: fixed;
    top: 0;
    z-index: 100000000;
}

.navbar {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    
  
}

.navbar a {
    font-family: 'Crimson Text', serif;
    position: relative;
    font-size: 20px;
    color: #ACC8E5;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
}

.navbar a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 23px;
    width: 0;
    height: 2px;
    background: #ACC8E5;
    transition: .2s;
    transition: transform 0.5s ease-in-out;
}

.navbar a:hover::before {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

footer {
    bottom: 0;
    left: 100px;
    display: flex;
    background-color: #11355E;
}

.formation {
    color: #11355E;
}

h1 {
    font-family: 'Gabarito', sans-serif;
    color: #11355E;
    font-size: 80px;
    text-align: center;
    padding: 110px 0;

}

h2 {
    color: #11355E;
}

h3 {
    color: #11355E;
}

p {
    color: #11355E;
}

.box-timeline {
    width: 100%;
    height: 1000px;
    background: #11355E;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 950px;
    width: 8px;
    margin: 0 auto;
    background: #ACC8E5;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ACC8E5;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}

.box {
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #ACC8E5;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.btn {
    display: block;
    background: midnightblue;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #ACC8E5;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }
}

.boites {
    margin: 129px;
    display: flex;
}

.boites h3 {
    margin-bottom: 20px;
}

.boites p {
    margin-bottom: 30px;
}

.boites a {
    margin: 37%;
}

.boite3 p {
    margin-top: 12%;
    margin-bottom: 20%;
}

.boite1 p {
    margin-bottom: 50px;
}

.boite3 h3 {
    margin-bottom: 40px;
}

.boite1 {
    border-radius: 10px;
    padding: 50px;
    width: 400px;
    background-color: #fff;
    border: #11355E;
    justify-content: space-between;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.boite2 {
    text-align: start;
    border-radius: 10px;
    padding: 50px;
    width: 400px;
    background-color: #fff;
    border: #11355E;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    transform: translate(30px);
    justify-content: space-between;
}

.boite3 {
    text-align: start;
    border-radius: 10px;
    padding: 50px;
    width: 400px;
    background-color: #fff;
    border: #11355E;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    transform: translate(60px);
    justify-content: space-between;
}

.langages {
    text-align: center;
    padding: 150px;
    width: 500px;
    position: relative;
    transform: translate(150px, 0);
    background-color: #fff;
    border: #11355E;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.linkedin {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

.arrowup {
    transform: translate(618px);
    margin-top: 17px;
}